In [144]:
import pandas as pd
import numpy as np
import chardet
import sklearn

In [85]:
#Cargar la base de datos de nombre "ejemplo data.csv". En esta parte recomendamos explorar las diferentes opciones de read que tiene disponible la libreria Pandas, 
#identificando los argumentos disponibles en cada una de ellas.

file_path = "ejemplo_data.csv"
df = pd.read_csv(file_path)

In [8]:
print("Primeras filas del dataset:")
print(df.head())

Primeras filas del dataset:
       ID        Nombre         2016          2017 Crecimiento Unidades  \
0   10002     Verde Mar  $125,000.00    $162500.00      30.00%      500
1  552278  Manantial sa  $920,000.00  $101,2000.00      10.00%      700
2   23477          ACME   $50,000.00      62500.00      25.00%      125
3   24900     Andes sur  $350,000.00     490000.00       4.00%       75
4  651029     San Pablo   $15,000.00     $12750.00     -15.00%       No

        fecha  Activo
0   1-10-2015       1
1   6-23-2014       0
2   3-12-2016       1
3  10-28-2015       1
4   2-15-2014       0

In [86]:
print("\nInformación general del dataset:")
df.info()

Información general del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           5 non-null      int64
 1   Nombre       5 non-null      object
 2   2016         5 non-null      object
 3   2017         5 non-null      object
 4   Crecimiento  5 non-null      object
 5   Unidades     5 non-null      object
 6   fecha        5 non-null      object
 7   Activo       5 non-null      int64
dtypes: int64(2), object(6)
memory usage: 452.0+ bytes

In [87]:
#Utilizando la función astype transforme el atributo "ID" a entero y el atributo "Activo" a booleano.
if 'ID' in df.columns and 'Activo' in df.columns:
    df['ID'] = df['ID'].astype(int)
    df['Activo'] = df['Activo'].astype(bool)
    print("\nEstado de las variables después de las transformaciones:")
    df.info()
else:
    print("\nLas columnas 'ID' y 'Activo' no están presentes en el dataset.")

Estado de las variables después de las transformaciones:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           5 non-null      int64
 1   Nombre       5 non-null      object
 2   2016         5 non-null      object
 3   2017         5 non-null      object
 4   Crecimiento  5 non-null      object
 5   Unidades     5 non-null      object
 6   fecha        5 non-null      object
 7   Activo       5 non-null      bool
dtypes: bool(1), int64(1), object(6)
memory usage: 417.0+ bytes

In [ ]:
# Manejo de valores faltantes durante la lectura con codificación especificada
try:
    df_ecommerce = pd.read_csv(file_path2, encoding='latin1', na_values=["N/A", "null", "missing"])
    print("Archivo cargado correctamente con la codificación 'latin1'.")
except UnicodeDecodeError:
    print("Error al leer el archivo con la codificación 'latin1'. Intenta con otra codificación.")
except Exception as e:
    print(f"Otro error ocurrió al leer el archivo: {e}")

try:
    print("\nPrimeras filas del DataFrame cargado:")
    print(df_ecommerce.head())
except NameError:
    print("El DataFrame no se pudo cargar correctamente.")

Archivo cargado correctamente con la codificación 'latin1'.

Primeras filas del DataFrame cargado:
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [104]:
# Cargar solo las primeras filas
df_ecommerce = pd.read_csv(file_path2, nrows=100)

In [105]:
print("Primeras filas del dataset:")
print(df_ecommerce.head())

Primeras filas del dataset:
   InvoiceNo StockCode                          Description  Quantity  \
0     536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1     536365     71053                  WHITE METAL LANTERN         6
2     536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3     536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4     536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55       17850  United Kingdom
1  12/1/2010 8:26       3.39       17850  United Kingdom
2  12/1/2010 8:26       2.75       17850  United Kingdom
3  12/1/2010 8:26       3.39       17850  United Kingdom
4  12/1/2010 8:26       3.39       17850  United Kingdom

In [106]:
#Identifique los tipos de varibles que hay disponibles en la base de datos (df.types o df.info()).
print("Tipos de variables en la base de datos (usando df.info()):")
df_ecommerce.info()

print("\nTipos de variables en la base de datos (usando df.dtypes):")
print(df_ecommerce.dtypes)

Tipos de variables en la base de datos (usando df.info()):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    100 non-null    int64
 1   StockCode    100 non-null    object
 2   Description  100 non-null    object
 3   Quantity     100 non-null    int64
 4   InvoiceDate  100 non-null    object
 5   UnitPrice    100 non-null    float64
 6   CustomerID   100 non-null    int64
 7   Country      100 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 6.4+ KB

Tipos de variables en la base de datos (usando df.dtypes):
InvoiceNo        int64
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID       int64
Country         object
dtype: object

In [107]:
# Utilizando la función astype transforme el atributo "InvoiceNo" a entero y el atributo "Description" a string. Vuelva a consultar el estado de las variables.
if 'InvoiceNo' in df_ecommerce.columns and 'Description' in df_ecommerce.columns:
    try:
        df_ecommerce['InvoiceNo'] = df_ecommerce['InvoiceNo'].astype(int)
        print("La columna 'InvoiceNo' se transformó a entero.")
    except ValueError as e:
        print(f"No se pudo transformar 'InvoiceNo' a entero: {e}")

    # Transformar 'Description' a string
    df_ecommerce['Description'] = df_ecommerce['Description'].astype(str)
    print("La columna 'Description' se transformó a string.")

    # Consultar nuevamente el estado de las variables
    print("\nEstado de las variables después de las transformaciones:")
    df_ecommerce.info()
else:
    print("\nLas columnas 'InvoiceNo' y/o 'Description' no están presentes en el DataFrame.")

La columna 'InvoiceNo' se transformó a entero.
La columna 'Description' se transformó a string.

Estado de las variables después de las transformaciones:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    100 non-null    int64
 1   StockCode    100 non-null    object
 2   Description  100 non-null    object
 3   Quantity     100 non-null    int64
 4   InvoiceDate  100 non-null    object
 5   UnitPrice    100 non-null    float64
 6   CustomerID   100 non-null    int64
 7   Country      100 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 6.4+ KB

In [108]:
#Convierta el atributo "Quantity" a entero y "UnitPrice" a flotante.
if 'Quantity' in df_ecommerce.columns and 'UnitPrice' in df_ecommerce.columns:
    try:
        df_ecommerce['Quantity'] = df_ecommerce['Quantity'].astype(int)
        print("La columna 'Quantity' se transformó a entero.")
    except ValueError as e:
        print(f"No se pudo transformar 'Quantity' a entero: {e}")
    try:
        df_ecommerce['UnitPrice'] = df_ecommerce['UnitPrice'].astype(float)
        print("La columna 'UnitPrice' se transformó a flotante.")
    except ValueError as e:
        print(f"No se pudo transformar 'UnitPrice' a flotante: {e}")

    print("\nEstado de las variables después de las transformaciones:")
    df_ecommerce.info()
else:
    print("\nLas columnas 'Quantity' y/o 'UnitPrice' no están presentes en el DataFrame.")

La columna 'Quantity' se transformó a entero.
La columna 'UnitPrice' se transformó a flotante.

Estado de las variables después de las transformaciones:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    100 non-null    int64
 1   StockCode    100 non-null    object
 2   Description  100 non-null    object
 3   Quantity     100 non-null    int64
 4   InvoiceDate  100 non-null    object
 5   UnitPrice    100 non-null    float64
 6   CustomerID   100 non-null    int64
 7   Country      100 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 6.4+ KB

In [168]:
#La columna "InvoiceDate" contiene un string que representa "fecha-hora", separe la columna en dos columnas que representen cada atributo por separado.
if 'InvoiceDate' in df_ecommerce.columns:
    try:
        df_ecommerce['InvoiceDate'] = pd.to_datetime(df_ecommerce['InvoiceDate'])
        df_ecommerce['Fecha'] = df_ecommerce['InvoiceDate'].dt.date
        df_ecommerce['Hora'] = df_ecommerce['InvoiceDate'].dt.time

        print("La columna 'InvoiceDate' se ha separado en 'Fecha' y 'Hora'.")
    except Exception as e:
        print(f"No se pudo procesar la columna 'InvoiceDate': {e}")
else:
    print("La columna 'InvoiceDate' no está presente en el DataFrame.")

print("\nPrimeras filas del DataFrame actualizado:")
print(df_ecommerce.head())

La columna 'InvoiceDate' se ha separado en 'Fecha' y 'Hora'.

Primeras filas del DataFrame actualizado:
   InvoiceNo StockCode                          Description  Quantity  \
0     536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1     536365     71053                  WHITE METAL LANTERN         6
2     536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3     536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4     536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country       Fecha  \
0 2010-12-01 08:26:00       2.55       17850  United Kingdom  2010-12-01
1 2010-12-01 08:26:00       3.39       17850  United Kingdom  2010-12-01
2 2010-12-01 08:26:00       2.75       17850  United Kingdom  2010-12-01
3 2010-12-01 08:26:00       3.39       17850  United Kingdom  2010-12-01
4 2010-12-01 08:26:00       3.39       17850  United Kingdom  2010-12-01

       Hora  TotalAmount
0  08:26:00        15.30
1  08:26:00        20.34
2  08:26:00        22.00
3  08:26:00        20.34
4  08:26:00        20.34

In [110]:
#Añada una nueva columna que represente el monto total para cada boleta.
if 'Quantity' in df_ecommerce.columns and 'UnitPrice' in df_ecommerce.columns:
    df_ecommerce['TotalAmount'] = df_ecommerce['Quantity'] * df_ecommerce['UnitPrice']
    print("Se ha añadido la columna 'TotalAmount', que representa el monto total para cada boleta.")
else:
    print("Las columnas 'Quantity' y/o 'UnitPrice' no están presentes en el DataFrame.")
print("\nPrimeras filas del DataFrame actualizado:")
print(df_ecommerce.head())
output_file = "ecommerce_data_procesada.csv"

try:
    df_ecommerce.to_csv(output_file, index=False)  # index=False para evitar incluir el índice como columna
    print(f"La base de datos procesada ha sido exportada exitosamente como '{output_file}'.")
except Exception as e:
    print(f"Error al exportar el archivo: {e}")

Se ha añadido la columna 'TotalAmount', que representa el monto total para cada boleta.

Primeras filas del DataFrame actualizado:
   InvoiceNo StockCode                          Description  Quantity  \
0     536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1     536365     71053                  WHITE METAL LANTERN         6
2     536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3     536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4     536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country       Fecha  \
0 2010-12-01 08:26:00       2.55       17850  United Kingdom  2010-12-01
1 2010-12-01 08:26:00       3.39       17850  United Kingdom  2010-12-01
2 2010-12-01 08:26:00       2.75       17850  United Kingdom  2010-12-01
3 2010-12-01 08:26:00       3.39       17850  United Kingdom  2010-12-01
4 2010-12-01 08:26:00       3.39       17850  United Kingdom  2010-12-01

       Hora  TotalAmount
0  08:26:00        15.30
1  08:26:00        20.34
2  08:26:00        22.00
3  08:26:00        20.34
4  08:26:00        20.34
La base de datos procesada ha sido exportada exitosamente como 'ecommerce_data_procesada.csv'.

In [111]:
print("Columnas disponibles en el DataFrame:")
print(df_ecommerce.columns)

Columnas disponibles en el DataFrame:
Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'Fecha', 'Hora', 'TotalAmount'],
      dtype='object')

In [112]:
df_ecommerce.rename(columns=lambda x: x.strip(), inplace=True)

#Exploración de funciones groupby, sort values, set index, sample, pivot, reset index y merge

In [113]:
#groupby: Agrupar datos y realizar operaciones
print("Agrupación por 'InvoiceNo' y suma de 'TotalAmount':")
grouped = df_ecommerce.groupby('InvoiceNo')['TotalAmount'].sum()
print(grouped.head())

Agrupación por 'InvoiceNo' y suma de 'TotalAmount':
InvoiceNo
536365    139.12
536366     22.20
536367    278.73
536368     70.05
536369     17.85
Name: TotalAmount, dtype: float64

In [120]:
# sort_values: Ordenar datos por una o más columnas
print("\nOrdenar por 'TotalAmount' en orden descendente:")
sorted_df = df_ecommerce.sort_values(by='TotalAmount', ascending=False)
print(sorted_df.head())

Ordenar por 'TotalAmount' en orden descendente:
    InvoiceNo StockCode                        Description  Quantity  \
65     536374     21258         VICTORIAN SEWING BOX LARGE        32
46     536371     22086    PAPER CHAIN KIT 50'S CHRISTMAS         80
82     536376     22114  HOT WATER BOTTLE TEA AND SYMPATHY        48
83     536376     21733   RED HANGING HEART T-LIGHT HOLDER        64
26     536370     22728          ALARM CLOCK BAKELIKE PINK        24

           InvoiceDate  UnitPrice  CustomerID         Country       Fecha  \
65 2010-12-01 09:09:00      10.95       15100  United Kingdom  2010-12-01
46 2010-12-01 09:00:00       2.55       13748  United Kingdom  2010-12-01
82 2010-12-01 09:32:00       3.45       15291  United Kingdom  2010-12-01
83 2010-12-01 09:32:00       2.55       15291  United Kingdom  2010-12-01
26 2010-12-01 08:45:00       3.75       12583          France  2010-12-01

        Hora  TotalAmount
65  09:09:00        350.4
46  09:00:00        204.0
82  09:32:00        165.6
83  09:32:00        163.2
26  08:45:00         90.0

In [115]:
# set_index: Establecer una columna como índice
print("\nEstablecer 'InvoiceNo' como índice:")
indexed_df = df_ecommerce.set_index('InvoiceNo')
print(indexed_df.head())

3. Establecer 'InvoiceNo' como índice:
          StockCode                          Description  Quantity  \
InvoiceNo
536365       85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
536365        71053                  WHITE METAL LANTERN         6
536365       84406B       CREAM CUPID HEARTS COAT HANGER         8
536365       84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
536365       84029E       RED WOOLLY HOTTIE WHITE HEART.         6

                  InvoiceDate  UnitPrice  CustomerID         Country  \
InvoiceNo
536365    2010-12-01 08:26:00       2.55       17850  United Kingdom
536365    2010-12-01 08:26:00       3.39       17850  United Kingdom
536365    2010-12-01 08:26:00       2.75       17850  United Kingdom
536365    2010-12-01 08:26:00       3.39       17850  United Kingdom
536365    2010-12-01 08:26:00       3.39       17850  United Kingdom

                Fecha      Hora  TotalAmount
InvoiceNo
536365     2010-12-01  08:26:00        15.30
536365     2010-12-01  08:26:00        20.34
536365     2010-12-01  08:26:00        22.00
536365     2010-12-01  08:26:00        20.34
536365     2010-12-01  08:26:00        20.34

In [116]:
# sample: Tomar una muestra aleatoria de datos
print("\nMuestra aleatoria de 5 filas:")
sample_df = df_ecommerce.sample(5)
print(sample_df)

4. Muestra aleatoria de 5 filas:
    InvoiceNo StockCode                         Description  Quantity  \
70     536375     37370          RETRO COFFEE MUGS ASSORTED         6
6      536365     21730   GLASS STAR FROSTED T-LIGHT HOLDER         6
81     536375     21730   GLASS STAR FROSTED T-LIGHT HOLDER         6
0      536365    85123A  WHITE HANGING HEART T-LIGHT HOLDER         6
13     536367     22310             IVORY KNITTED MUG COSY          6

           InvoiceDate  UnitPrice  CustomerID         Country       Fecha  \
70 2010-12-01 09:32:00       1.06       17850  United Kingdom  2010-12-01
6  2010-12-01 08:26:00       4.25       17850  United Kingdom  2010-12-01
81 2010-12-01 09:32:00       4.25       17850  United Kingdom  2010-12-01
0  2010-12-01 08:26:00       2.55       17850  United Kingdom  2010-12-01
13 2010-12-01 08:34:00       1.65       13047  United Kingdom  2010-12-01

        Hora  TotalAmount
70  09:32:00         6.36
6   08:26:00        25.50
81  09:32:00        25.50
0   08:26:00        15.30
13  08:34:00         9.90

In [118]:
# pivot: Reorganizar datos en formato tabla dinámica
if 'InvoiceNo' in df_ecommerce.columns and 'Quantity' in df_ecommerce.columns:
    print("\nPivot para obtener 'Quantity' por 'InvoiceNo':")
    pivot_df = df_ecommerce.pivot_table(values='Quantity', index='InvoiceNo', aggfunc='sum')
    print(pivot_df.head())

Pivot para obtener 'Quantity' por 'InvoiceNo':
           Quantity
InvoiceNo
536365           40
536366           12
536367           83
536368           15
536369            3

In [119]:
# reset_index: Restablecer el índice del DataFrame
print("\nRestablecer el índice del DataFrame agrupado:")
reset_df = grouped.reset_index()
print(reset_df.head())

Restablecer el índice del DataFrame agrupado:
   InvoiceNo  TotalAmount
0     536365       139.12
1     536366        22.20
2     536367       278.73
3     536368        70.05
4     536369        17.85

In [121]:
#merge: Combinar dos DataFrames
additional_data = pd.DataFrame({
    'InvoiceNo': [grouped.index[0], grouped.index[1]],
    'AdditionalInfo': ['Promo', 'VIP']
})
print("\nMerge del DataFrame original con datos adicionales:")
merged_df = pd.merge(df_ecommerce, additional_data, on='InvoiceNo', how='left')
print(merged_df.head())

Merge del DataFrame original con datos adicionales:
   InvoiceNo StockCode                          Description  Quantity  \
0     536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1     536365     71053                  WHITE METAL LANTERN         6
2     536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3     536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4     536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country       Fecha  \
0 2010-12-01 08:26:00       2.55       17850  United Kingdom  2010-12-01
1 2010-12-01 08:26:00       3.39       17850  United Kingdom  2010-12-01
2 2010-12-01 08:26:00       2.75       17850  United Kingdom  2010-12-01
3 2010-12-01 08:26:00       3.39       17850  United Kingdom  2010-12-01
4 2010-12-01 08:26:00       3.39       17850  United Kingdom  2010-12-01

       Hora  TotalAmount AdditionalInfo
0  08:26:00        15.30          Promo
1  08:26:00        20.34          Promo
2  08:26:00        22.00          Promo
3  08:26:00        20.34          Promo
4  08:26:00        20.34          Promo

In [ ]:
# Crear un diccionario con 50 datos que contenga al menos tres atributos continuos
np.random.seed(42)  # Para reproducibilidad de resultados
data = {
    "Atributo_1": np.random.uniform(10, 100, 50), 
    "Atributo_2": np.random.normal(50, 15, 50),   
    "Atributo_3": np.random.exponential(30, 50)   
}

df_continuos = pd.DataFrame(data)

print("Primeras filas del DataFrame generado:")
print(df_continuos.head())

print("\nDimensiones del DataFrame generado:", df_continuos.shape)

Primeras filas del DataFrame generado:
   Atributo_1  Atributo_2  Atributo_3
0   43.708611   61.076999   66.924402
1   95.564288   52.570524   23.252997
2   75.879455   48.265276   49.420449
3   63.879264   45.483445   67.927279
4   24.041678   27.822170   11.481921

Dimensiones del DataFrame generado: (50, 3)

In [125]:
#Transforme dicho diccionario a un dataFrame de Pandas.
data = {
    "Atributo_1": [1, 2, 3, 4, 5],
    "Atributo_2": [10.5, 20.1, 30.2, 40.8, 50.4],
    "Atributo_3": [100.1, 200.2, 300.3, 400.4, 500.5]
}

df_continuos = pd.DataFrame(data)

print("DataFrame generado a partir del diccionario:")
print(df_continuos)

DataFrame generado a partir del diccionario:
   Atributo_1  Atributo_2  Atributo_3
0           1        10.5       100.1
1           2        20.1       200.2
2           3        30.2       300.3
3           4        40.8       400.4
4           5        50.4       500.5

In [127]:
# Obtenga estadísticas descriptivas de tendencia central
print("Estadísticas de tendencia central:")
#Media
media = df_continuos.mean()
print("\nMedia:")
print(media)
#Mediana
mediana = df_continuos.median()
print("\nMediana:")
print(mediana)
#Moda
moda = df_continuos.mode()
print("\nModa (puede haber más de una):")
print(moda)

Estadísticas de tendencia central:

Media:
Atributo_1      3.0
Atributo_2     30.4
Atributo_3    300.3
dtype: float64

Mediana:
Atributo_1      3.0
Atributo_2     30.2
Atributo_3    300.3
dtype: float64

Moda (puede haber más de una):
   Atributo_1  Atributo_2  Atributo_3
0           1        10.5       100.1
1           2        20.1       200.2
2           3        30.2       300.3
3           4        40.8       400.4
4           5        50.4       500.5

In [128]:
# Obtenga estadísticas descriptivas de dispersión
print("Estadísticas de dispersión:")

# Rango (diferencia entre el valor máximo y mínimo)
rango = df_continuos.max() - df_continuos.min()
print("\nRango:")
print(rango)

desviacion_estandar = df_continuos.std()
print("\nDesviación estándar:")
print(desviacion_estandar)

# Varianza
varianza = df_continuos.var()
print("\nVarianza:")
print(varianza)

# Percentiles (25%, 50% y 75%)
percentiles = df_continuos.describe(percentiles=[0.25, 0.5, 0.75])
print("\nPercentiles (25%, 50%, 75%):")
print(percentiles.loc[['25%', '50%', '75%']])

Estadísticas de dispersión:

Rango:
Atributo_1      4.0
Atributo_2     39.9
Atributo_3    400.4
dtype: float64

Desviación estándar:
Atributo_1      1.581139
Atributo_2     15.892608
Atributo_3    158.271997
dtype: float64

Varianza:
Atributo_1        2.500
Atributo_2      252.575
Atributo_3    25050.025
dtype: float64

Percentiles (25%, 50%, 75%):
     Atributo_1  Atributo_2  Atributo_3
25%         2.0        20.1       200.2
50%         3.0        30.2       300.3
75%         4.0        40.8       400.4

In [ ]:
#Cargar las bases de datos de nombre "ratings data.csv" y "books data.csv
ratings_file = "ratings_data.csv"
books_file = "books_data.csv"

try:
    ratings_data = pd.read_csv(ratings_file)
    print("Archivo 'ratings_data.csv' cargado correctamente.")
except FileNotFoundError:
    print(f"No se encontró el archivo '{ratings_file}'. Por favor, verifica la ruta.")
    ratings_data = None
except Exception as e:
    print(f"Error al cargar '{ratings_file}': {e}")
    ratings_data = None

detected_encoding = None
try:
    with open(books_file, "rb") as file:
        result = chardet.detect(file.read(10000))  # Analiza los primeros 10,000 bytes
        detected_encoding = result['encoding']
        print(f"Codificación detectada para 'books_data.csv': {detected_encoding}")
except FileNotFoundError:
    print(f"No se encontró el archivo '{books_file}'. Por favor, verifica la ruta.")
    books_data = None
except Exception as e:
    print(f"Error al analizar la codificación de '{books_file}': {e}")
    books_data = None

try:
    books_data = pd.read_csv(books_file, encoding='ISO-8859-1', error_bad_lines=False, warn_bad_lines=True)
    print("Archivo 'books_data.csv' cargado con líneas problemáticas ignoradas.")
except Exception as e:
    print(f"Error al cargar 'books_data.csv': {e}")

if ratings_data is not None:
    print("\nPrimeras filas de 'ratings_data.csv':")
    print(ratings_data.head())
else:
    print("\nNo se pudo cargar 'ratings_data.csv'.")

if books_data is not None:
    print("\nPrimeras filas de 'books_data.csv':")
    print(books_data.head())
else:
    print("\nNo se pudo cargar 'books_data.csv'.")

Archivo 'ratings_data.csv' cargado correctamente.
Codificación detectada para 'books_data.csv': ISO-8859-1
Error al cargar 'books_data.csv': read_csv() got an unexpected keyword argument 'error_bad_lines'

Primeras filas de 'ratings_data.csv':
   Unnamed: 0  User-ID        ISBN  Book-Rating  MeanRating
0           0   276725  034545104X            0    2.933333
1           1   276726  0155061224            5    2.500000
2           2   276727  0446520802            0    4.060345
3           3   276729  052165615X            3    3.000000
4           4   276729  0521795028            6    6.000000

No se pudo cargar 'books_data.csv'.

In [152]:
ratings_file = "ratings_data.csv"
books_file = "books_data.csv"

try:
    ratings_data = pd.read_csv(ratings_file)
    print("Archivo 'ratings_data.csv' cargado correctamente.")
except FileNotFoundError:
    print(f"No se encontró el archivo '{ratings_file}'. Por favor, verifica la ruta.")
    ratings_data = None
except Exception as e:
    print(f"Error al cargar '{ratings_file}': {e}")
    ratings_data = None

detected_encoding = None
try:
    with open(books_file, "rb") as file:
        result = chardet.detect(file.read(10000))  
        detected_encoding = result['encoding']
        print(f"Codificación detectada para 'books_data.csv': {detected_encoding}")
except FileNotFoundError:
    print(f"No se encontró el archivo '{books_file}'. Por favor, verifica la ruta.")
    books_data = None
except Exception as e:
    print(f"Error al analizar la codificación de '{books_file}': {e}")
    books_data = None

try:
    if detected_encoding:
        books_data = pd.read_csv(books_file, encoding=detected_encoding, on_bad_lines='skip')
        print("Archivo 'books_data.csv' cargado correctamente, ignorando líneas problemáticas.")
    else:
        print("No se pudo detectar la codificación de 'books_data.csv'.")
        books_data = None
except Exception as e:
    print(f"Error al cargar '{books_file}': {e}")
    books_data = None

if ratings_data is not None:
    print("\nPrimeras filas de 'ratings_data.csv':")
    print(ratings_data.head())
else:
    print("\nNo se pudo cargar 'ratings_data.csv'.")

if books_data is not None:
    print("\nPrimeras filas de 'books_data.csv':")
    print(books_data.head())
    print("\nDimensiones de 'books_data.csv':", books_data.shape)
else:
    print("\nNo se pudo cargar 'books_data.csv'.")

Archivo 'ratings_data.csv' cargado correctamente.
Codificación detectada para 'books_data.csv': ISO-8859-1
Archivo 'books_data.csv' cargado correctamente, ignorando líneas problemáticas.

Primeras filas de 'ratings_data.csv':
   Unnamed: 0  User-ID        ISBN  Book-Rating  MeanRating
0           0   276725  034545104X            0    2.933333
1           1   276726  0155061224            5    2.500000
2           2   276727  0446520802            0    4.060345
3           3   276729  052165615X            3    3.000000
4           4   276729  0521795028            6    6.000000

Primeras filas de 'books_data.csv':
  ISBN;"Book-Title";"Book-Author";"Year-Of-Publication";"Publisher";"Image-URL-S";"Image-URL-M";"Image-URL-L"
0  0195153448;"Classical Mythology";"Mark P. O. M...
1  0002005018;"Clara Callan";"Richard Bruce Wrigh...
2  0060973129;"Decision in Normandy";"Carlo D'Est...
3  0374157065;"Flu: The Story of the Great Influe...
4  0393045218;"The Mummies of Urumchi";"E. J. W. ...

Dimensiones de 'books_data.csv': (228144, 1)

In [169]:
books_file = "books_data.csv"
cleaned_books_file = "books_data_cleaned.csv"

try:
    books_data = pd.read_csv(books_file, delimiter=';', encoding='ISO-8859-1', on_bad_lines='skip')
    print("Archivo 'books_data.csv' cargado correctamente con delimitador ';'.")
except Exception as e:
    print(f"Error al cargar 'books_data.csv': {e}")
    books_data = None

if books_data is not None:
    books_data.columns = [col.replace('"', '').strip() for col in books_data.columns]
    # Verificar las columnas
    print("\nColumnas después de limpiar:")
    print(books_data.columns)
    books_data.rename(columns={"ISBN": "ISBN", "Book-Title": "Book-Rating"}, inplace=True)

    books_data = books_data[["ISBN", "Book-Rating"]]

    print("\nPrimeras filas del DataFrame limpio:")
    print(books_data.head())

    try:
        books_data.to_csv(cleaned_books_file, index=False, encoding='utf-8')
        print(f"Archivo limpio guardado como '{cleaned_books_file}'.")
    except Exception as e:
        print(f"Error al guardar el archivo limpio: {e}")

Archivo 'books_data.csv' cargado correctamente con delimitador ';'.

Columnas después de limpiar:
Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

Primeras filas del DataFrame limpio:
         ISBN                                        Book-Rating
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi
Archivo limpio guardado como 'books_data_cleaned.csv'.

In [ ]:
#Utilizando "ratings_data.csv" genere un diagnostico de numeros perdidos. Luego impute los valores de acuerdo a la media y de acuerdo a otro criterio seleccionado por usted. 
# Explore las opciones de imputacion del metodo fillna() de Pandas.
print("Diagnóstico de números perdidos:")
missing_summary = ratings_data.isnull().sum()
print(missing_summary)

total_missing = ratings_data.isnull().sum().sum()
print(f"\nTotal de valores faltantes en el dataset: {total_missing}")

ratings_data_imputed_mean = ratings_data.copy()
for col in ratings_data.columns:
    if ratings_data[col].isnull().sum() > 0 and ratings_data[col].dtype in ['float64', 'int64']:
        ratings_data_imputed_mean[col] = ratings_data[col].fillna(ratings_data[col].mean())

print("\nValores imputados con la media en las columnas numéricas:")
print(ratings_data_imputed_mean.isnull().sum())

ratings_data_imputed_median = ratings_data.copy()
for col in ratings_data.columns:
    if ratings_data[col].isnull().sum() > 0 and ratings_data[col].dtype in ['float64', 'int64']:
        ratings_data_imputed_median[col] = ratings_data[col].fillna(ratings_data[col].median())

print("\nValores imputados con la mediana en las columnas numéricas:")
print(ratings_data_imputed_median.isnull().sum())

print("\nExplorando opciones de fillna:")
ratings_data_filled_custom = ratings_data.copy()
ratings_data_filled_custom.fillna(value={'column_name': 'default_value'}, inplace=True)
print("Valores faltantes llenados con un valor específico en 'column_name' (ejemplo).")

Diagnóstico de números perdidos:
Unnamed: 0     0
User-ID        0
ISBN           0
Book-Rating    0
MeanRating     0
dtype: int64

Total de valores faltantes en el dataset: 0

Valores imputados con la media en las columnas numéricas:
Unnamed: 0     0
User-ID        0
ISBN           0
Book-Rating    0
MeanRating     0
dtype: int64

Valores imputados con la mediana en las columnas numéricas:
Unnamed: 0     0
User-ID        0
ISBN           0
Book-Rating    0
MeanRating     0
dtype: int64

Explorando opciones de fillna:
Valores faltantes llenados con un valor específico en 'column_name' (ejemplo).

In [ ]:
# Utilizando la columna ISBN de cada base de datos consolidelas en una sola base de datos con todos los atributos de "books data.csv"
if ratings_data is not None and books_data_cleaned is not None:
    if 'ISBN' in ratings_data.columns and 'ISBN' in books_data_cleaned.columns:
        consolidated_data = pd.merge(ratings_data, books_data_cleaned, on='ISBN', how='outer')
        print("Bases de datos consolidadas utilizando 'ISBN' como clave (outer join).")

        print("\nPrimeras filas del DataFrame consolidado:")
        print(consolidated_data.head())

        print("\nDimensiones del DataFrame consolidado:", consolidated_data.shape)

Bases de datos consolidadas utilizando 'ISBN' como clave (outer join).

Primeras filas del DataFrame consolidado:
   Unnamed: 0   User-ID         ISBN  Book-Rating_x  MeanRating Book-Rating_y
0    371986.0   89192.0   0330299891            0.0         3.0           NaN
1    750718.0  181817.0   0330299891            6.0         3.0           NaN
2    371987.0   89192.0   0375404120            3.0         1.5           NaN
3   1112730.0  266865.0   0375404120            0.0         1.5           NaN
4    371988.0   89192.0   0586045007            0.0         0.0           NaN

Dimensiones del DataFrame consolidado: (1150989, 6)

In [163]:
#Exporte la base de datos consolidada
if 'consolidated_data' in locals() and consolidated_data is not None:
    try:
        consolidated_file = "consolidated_data.csv"
        consolidated_data.to_csv(consolidated_file, index=False, encoding="utf-8")
        print(f"Archivo consolidado exportado exitosamente como '{consolidated_file}'.")
    except Exception as e:
        print(f"Error al exportar el archivo consolidado: {e}")
else:
    print("El DataFrame consolidado no está disponible para exportar.")

Archivo consolidado exportado exitosamente como 'consolidated_data.csv'.